* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
  font-weight: 600;
  background: #060b11;
  color: white;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
